<div class="row">
    <div class="twelve columns">
        <form method="post" action="/hunch/new">
            <div class="row">
                <div class="six columns">
                    <h1>Create a hunch</h1>

                    {{#if msg}}
                    <h2 style="color:red;">
                        {{msg}}
                    </h2>
                    {{/if}}

					<select id="select-state" name="coders[]" multiple class="demo-default" placeholder="Select some coders">
						<option value="">Select some coders...</option>
						<option value="1">Lindani Pani</option>
						<option value="2">Nkosi Ndlovu</option>
						<option value="3">Trevor October</option>
					</select>
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <textarea class="u-full-width" placeholder="What is this hunch about?" name="hunchDescription">{{#if hunchDescription}}{{hunchDescription}}{{/if}}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
					<select id="select-tags" name="tags[]" multiple class="demo-default" placeholder="Select some tags">
						<option value="">Select some tags...</option>
						<option value="1">demo</option>
						<option value="2">hackathon</option>
						<option value="3">feedback</option>
					</select>

                </div>
                <div class="two columns">
                    <input type="button" value="Add tag">
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <input type="radio" name="rating" value="1">1
                    <input type="radio" name="rating" value="2">2
                    <input type="radio" name="rating" value="3">3
                    <input type="radio" name="rating" value="4">4
                    <input type="radio" name="rating" value="5">5
                </div>
            </div>

            <div class="row">
                <input class="button-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
<script>
				$select = $('#select-state').selectize({
					maxItems: 3,
					create: false,
				});

                $selectTags = $('#select-tags').selectize({
					maxItems: 3,
					create: false,
				});

				</script>
