<div class="rows container">

	<h1 style="color:red" class="twelve columns">
		Do not sign in with your google acount on this page. It is not secure.
		This is still under testing!!!
	</h1>

	<table class="twelve columns">
		
	</table>

    <div class="g-signin2 two columns" data-onsuccess="onSignIn">
		
	</div>

    <div class="six columns">
        <h1>Sign In to Hunches</h1>
    </div>
</div>