<div class="rows container">

	<h1 style="color:red" class="twelve columns">
		Do not sign in with your google acount on this page. It is not secure.
		This is still under testing!!!
	</h1>

	<table class="twelve columns">
		
	</table>

    <div class="twelve columns">
        <h1>Test sign in to Hunches</h1>
    </div>

    <div class="g-signin2 six columns" data-onsuccess="onSignIn">

	</div>

	<a href="#" class="two columns" onclick="signOut();">Sign out</a>

</div>